.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px;
}

.home-icon {
  font-size: 100px;
}

.contacto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

.form-label {
  min-width: 1000px;
}

.title {
  font-size: 30px;
}

.link {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.link:hover {
  color: rgb(96, 96, 96);
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}

.error h1 {
  font-size: 80px;
}

.error p {
  font-size: 20px;
}
